modules = ["php-8.2"]

run = "php -S 0.0.0.0:8080 -t public router.php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:8080 -t public router.php"]

[[ports]]
localPort = 8080
externalPort = 80
